/* Custom CSS for mdBook */

:root {
    /* Main requested color */
    --sidebar-bg: #83C8EF;
    --sidebar-fg: #333;
    --sidebar-active: #E2147C; /* Active color in the sidebar */
    --sidebar-hover: #ccecfc;
}

/* Override for Light theme (default) */
.light {
    --sidebar-active: #E2147C;
    --link-color: #83C8EF;
    --table-header-bg: #83C8EF;
}

/* Override for Rust theme */
.rust {
    --sidebar-active: #83C8EF;
    --link-color: #83C8EF;
}

/* Override for Coal theme */
.coal {
    --sidebar-active: #83C8EF;
    --link-color: #83C8EF;
}

/* Override for Navy theme */
.navy {
    --sidebar-active: #83C8EF;
    --link-color: #83C8EF;
}

/* Override for Ayu theme */
.ayu {
    --sidebar-active: #83C8EF;
    --link-color: #83C8EF;
}

/* Specific customization */
.sidebar .chapter li.active > a {
    color: var(--sidebar-active);
    border-left-color: var(--sidebar-active);
}

a {
    color: var(--link-color);
}

a:hover {
    text-decoration: underline;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    color: #E2147C;
}
